
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Sudheer Kumar - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Sudheer Kumar."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/josh.jpg' %}" alt="Sudheer Kumar" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Sudheer Kumar Bethapudi</h1>
			<h2 class="quickFade delayThree">Full stack Web Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="sudheerkumarjosh@gmail.com" target="_blank"> sudheerkumarjosh@gmail.com</a></li>
				
				<li>Mobile: +34 694 624 849</li>
				<li>Location:  <a href="https://www.google.es/maps/place/Calle+Isaac+Peral,+11,+23700+Linares,+Ja%C3%A9n/@38.0962348,-3.6349175,17z/data=!4m5!3m4!1s0xd6e9b323c54c13d:0x71dccac469890a92!8m2!3d38.0962348!4d-3.633457" target="_blank"> Linares,Spain</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Experienced web developer committed to maintaining cutting edge technical skills and up-to- date industry knowledge. Has more than three years designing innovative applications and achieving high client satisfaction.</p>
					<p>Innovative Assistant Professor bringing proven success in implementing technology-based curriculum delivery and assessment tools. Passionate about fostering academic development and success for every student..</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Assistant Professor(Remote)</h2>
					<p class="subDetails">April 2018 - Present </p>
					<p>Pleasant personality to connect with students and colleagues
					Voracious appetite for increased knowledge</p>
				</article>
				
				<article>
					<h2>Assistant Professor</h2>
					<p class="subDetails">May 2017 - April  2018</p>
					<p>Used variety of learning modalities and support materials to facilitate learning process and accentuate presentations, including visual, aural and social learning modalities..</p>
				</article>
				
				<article>
					<h2>Web Developer</h2>
					<p class="subDetails">Februay 2014 - April 2017</p>
					<p>Planned website development, converting mockups into usable web presence with HTML, CSS, JavaScript and JSON coding.</p>
					<p>Provided front-end website development using WordPress, Hubspot and other editing software.					
					</p>
					<p>Maintained complex technology infrastructure and collaborated with product team to implement new features and strategically plan for future products.</p>
					<p>Designed and developed efficient and maintainable software according to business objectives and needs of various clients.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>HTML</li>
					<li>JavaScript</li>
					<li>Python</li>
					<li>CSS</li>
					<li>SQL</li>
					<li>Django</li>
					<li>Flask</li>
					<li>Heroku</li>
					<li>.Net(bascis)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Jawaharlal Nehru Technological University Kakinada</h2>
					<p class="subDetails">Masters in Technology (M.Tech)</p>
					<p>Studied M.Tech in Computer Science at Nimra Institute of Scinece and Technology(2011-2014).</p>
				</article>
				
				<article>
					<h2>Acharya Nagarjuna University</h2>
					<p class="subDetails">Bachelor of Technology(B.Tech)</p>
					<p>Studied Bachelor of Technology in Computer Science and Engineering at DMS SVH college of Engineering(2006-2010).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>